<h2>Список вопросов для теста "<%= @test.title %>":</h2>

<p>
  <%= link_to 'Создать вопрос', new_test_question_path %>
</p>

<table>
  <tr>
    <th colspan="3">Действия</th>
    <th>Вопросы</th>
  </tr>
  <%= render @questions %>

</table>

<p>
<%= link_to 'Назад к тестам', tests_path %>
</p>
