<tr>
  <td>
    <img src="<%= user_badge.badge.image %>" style="width:100px;height:100px;">
  </td>
  <td><%= user_badge.badge.title %></td>
<!--  <td></td>-->
  <td><%= user_badge.test&.title %></td>
  <td><%= user_badge.created_at.strftime("%Y.%m.%d %H:%M %p") %></td>
  <td>
</tr>
