<tr>
  <td>
    <img src="<%= badge.image %>" style="width:100px;height:100px;">
  </td>
  <td><%= badge.title %></td>
<!--  <td><%#= badge.test %></td>-->
  <td><%= badge.created_at.strftime("%Y.%m.%d %H:%M %p") %></td>
  <td>
</tr>
