<div class="card ">
  <div class="card-header">
    Featured
  </div>

  <div class="card-body">
    <p class="card-text"><%= get_year %> | Author: <%= github_url('Rick', 'https://github.com/Rick-ROR/test-guru.git') %> </p>
    <p class="card-text">There could be a description.</p>
    <p class="card-text">Educational project in an online school <a href="https://thinknetica.com" target="_blank">Thinknetica</a></p>
  </div>
</div>
