<div class="card ">
  <div class="card-header">
    Featured
  </div>

  <div class="card-body">
    <p class="card-text"><%= get_year %> | Автор: <%= github_url('Rick', 'https://github.com/Rick-ROR/test-guru.git') %></p>
    <p class="card-text">Здесь могло быть описание.</p>
    <p class="card-text">Учебный проект в онлайн-школе <a href="https://thinknetica.com" target="_blank">Thinknetica</a></p>
  </div>
</div>
