<footer>
  <p><%= get_year %> | Автор: <%= github_url('Rick', 'https://github.com/Rick-ROR/test-guru.git') %> </p>
  <p>Здесь могло быть описание.</p>
  <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com" target="_blank">Thinknetica</a></p>
</footer>
