<footer>
  <p><%= get_year %> | Author: <%= github_url('Rick', 'https://github.com/Rick-ROR/test-guru.git') %> </p>
  <p>There could be a description.</p>
  <p>Educational project in an online school <a href="https://thinknetica.com" target="_blank">Thinknetica</a></p>
  <p>
</footer>
