<h2>Тест "<%= @history_test.test.title %>" был завершён!</h2>
<br>

<% if @history_test.passed? %>
  <h3 class="passed">Ваш результат: <%= @score %>% Отлично!</h3>
<% else %>
  <h3 class="failed">Ваш результат: <%= @score %>% Есть куда стремиться!</h3>
<% end %>
<br>
<%= link_to t('back_tests'), tests_path %>
